//- index.pug
extends layout.pug

block content
	.container
		.section.teal-text
			h2.header About
			| This page is very much a work in process. I've just started building it as a tool to train myself in Japanese grammar.
			br
			| If you're interested in what's going on here, have tips, suggestions or want to help out, don't hesitate to get in touch:&nbsp;
			a(href='mailto:japanese@greycastle.se') japanese@greycastle.se