//- index.pug
extends layout.pug

block content
	.container
		.section.teal-text
			h2.header= exercise.id
			| This is the exercise you've chosen

			span= exercise.description

		.section
			a.waves-effect.waves-light.btn(href='/start') 
				i.material-icons.left list
				| Back to exercises..