//- index.pug
extends layout.pug

block content
	#index-banner.parallax-container
		.section.no-pad-bot
			.container
				br
				br
				h1.header.center.light
					span.shadow-header Learning Japanese
				.row.center
					h5.shadow-header.header.col.s12.light Exercises to get your Japanese on.
				.row.center
					a#download-button.btn-large.waves-effect.waves-light.teal(href='http://materializecss.com/getting-started.html') Get Started
				br
				br
		.parallax
			img(src='backdrop.jpg', alt='Arashiyama, Kyoto', style='width: 100%; display: block;')